Python supports 3 categories of data types:
Basic Types - (integer,float,complex,boolean and string)
Container Types - (List,Tuples, Sets and Dictionary)
User-defined Types - Class

In [1]:
# integer
print(4)
print(1e309)

4
inf

In [2]:
# float
print(4.5)
print(1.7e308)

4.5
1.7e+308

In [3]:
# boolean
print(True)
print(False)

True
False

In [4]:
# complex
print(4+5j)

(4+5j)

In [5]:
# string
print('Kolkata')
print("Kolkata")
print("""Kolkata""")

Kolkata
Kolkata
Kolkata

In [6]:
# list
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [7]:
# tuple
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [8]:
#sets
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [9]:
# dict
print({"Name":"Nitish","Age":30,"gender":"Male"})

{'Name': 'Nitish', 'Age': 30, 'gender': 'Male'}