# Tuples
### 1. What is Tuples
### 2. Tuples vs array
### 3. Create a tuple
### 4. Accessing tuple elements
### 4. Edit
### 5. Delete
### 6. Add
### 7. Tuple methods
### 8. Functions

In [1]:
T1=()

In [2]:
T1

()

In [3]:
T2=(1,2,3,4)

In [4]:
T2

(1, 2, 3, 4)

In [5]:
T3=(1,2,3,4,5,"a","b","f")

In [6]:
T3

(1, 2, 3, 4, 5, 'a', 'b', 'f')

In [7]:
T4=(1,)

In [8]:
T4

(1,)

In [9]:
T5=(1)

In [10]:
T5

1

In [11]:
T6=((1,2,3),(4,5,6),(7,8,9))

In [12]:
T7=tuple("tanish")

In [13]:
T7

('t', 'a', 'n', 'i', 's', 'h')

In [14]:
# Accessing tuple elements
T7[0]

't'

In [15]:
T7[1:4]

('a', 'n', 'i')

In [17]:
#Edit
T2[0]=100

TypeError: 'tuple' object does not support item assignment

# The main difference between tuple and list is tuple are immutable and list are mutable

add ? non

# Operations
concatenation
repetition
membership

# Functions
len
min
max
sum
sorted

# Tuples are read only data type