1. print

In [1]:
print("Hello World")

Hello World

2. input

In [2]:
input("Enter your name")

'tanish gupta'

3. type

In [3]:
a=True
type(a)

bool

4. int

In [4]:
int(5.6)
# float
# str
# list
# tuple

5

5. abs

In [5]:
abs(-4)

4

6. pow

In [7]:
pow(2,3)

8

7. min/max

In [8]:
min("kolkata")

'a'

8. round

In [9]:
c = 22/7
round(c)

3

9. divmod

In [10]:
divmod(5,2)

(2, 1)

10. bin/oct/hex

In [11]:
hex(4)

'0x4'

11. id

In [12]:
a=3
id(a)

140717774660456

12. ord

In [13]:
ord('A')

65

13. len

In [14]:
len([1,2,3])

3

14. sum

In [15]:
sum({1,2,3,4,5})

15

15. help

In [16]:
help('print')

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.