# Common Functions
len
max
min
sorted

In [1]:
c = "kolkata"
len(c)

7

In [2]:
max(c)

't'

In [3]:
min(c)

'a'

In [4]:
sorted(c)

['a', 'a', 'k', 'k', 'l', 'o', 't']

In [5]:
sorted(c,reverse=True)

['t', 'o', 'l', 'k', 'k', 'a', 'a']

1. Capitalize/Title/Upper/Lower/Swapcase

In [6]:
"it is raining today".capitalize()

'It is raining today'

In [7]:
"it is raining today".title()

'It Is Raining Today'

In [9]:
c.upper()

'KOLKATA'

In [10]:
c.lower()

'kolkata'

In [11]:
c.swapcase()

'KOLKATA'

2. Count

In [12]:
"it is raining".count("x")

0

In [13]:
"it is raining".count("i")

4

3. Find/Index

In [14]:
"it is raining".find("x")

-1

In [15]:
"it is raining".index("x")

ValueError: substring not found

the only difference between find and index is that find return -1 if substring is not find but index will return an error ..so it ia advised to use find whenever required

4. endswith/startswith

In [16]:

"it is raining".endswith("ingef")

False

In [17]:
"it is raining".startswith("it")

True

5. format

In [18]:
"Hello my name is {} and I am {}".format("Nitish",30)

'Hello my name is Nitish and I am 30'

In [19]:
"Hello my name is {1} and I am {0}".format("Nitish",30)

'Hello my name is 30 and I am Nitish'

In [20]:
"Hello my name is {age} and I am {name}".format(name = "Nitish",age = 30)

'Hello my name is 30 and I am Nitish'

In [21]:
"Hello my name is {name} and I am {name}".format(name = "Nitish",age = 30, weight = 70)

'Hello my name is Nitish and I am Nitish'

6. isalnum/ isalpha/ isdecimal/ isdigit/ isidentifier

In [22]:
"FLAT20&".isalnum()

False

In [23]:
"FLAT20".isalpha()

False

In [24]:
"20A".isdigit()

False

In [25]:
"20".isdigit()

True

In [26]:
"hello_world".isidentifier()

True

7. Split

In [27]:
"who is the pm of india".split()

['who', 'is', 'the', 'pm', 'of', 'india']

In [28]:
"who is the pm of india".split("x")

['who is the pm of india']

8. Join

In [29]:
" ".join(['who', 'is', 'the', 'pm', 'of', 'india'])

'who is the pm of india'

In [30]:
"-".join(['who', 'is', 'the', 'pm', 'of', 'india'])

'who-is-the-pm-of-india'

9. Replace

In [31]:
"Hi my name is Nitish".replace("Nitish","Amit")

'Hi my name is Amit'

10. Strip

In [32]:
name = "               nitish              "
name.strip()

'nitish'